<div class="check">
<h1>BOOKING FORM</h1>

</div>



<form>
  first name :<br>
  <input type="text" name = "firstname" [(ngModel)] = "firstname"><br><br>

  last name :<br>
  <input type="text" name = "lastname" [(ngModel)] = "lastname"><br><br>

  date of birth:<br>
  <input type="date" name = "dateofbirth" [(ngModel)] = "dateofbirth"><br><br>

  age:<br>
   <input type="number" name = "age" [(ngModel)] = "age"><br><br>

   Date:<br>
   <input type="date" name = "Date"  [(ngModel)] = "Date"><br><br>
   

  <button (click)="booking()">Confirm Booking</button>
</form>
